/*----------------------------
# Custom CSS
----------------------------*/

/* gRecaptcha hiding */
.grecaptcha-badge {
	visibility: hidden;
}

/**
 * Scrollbar Styles
 *
 * Ensure consistent visual appearance across multiple browsers.
 */

/* scrollbar styles for Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-bg);
}

/* Scrollbar styles for Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-track {
	background: var(--color-scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-scrollbar);
	border-radius: 20px;
	border: 3px solid var(--color-scrollbar-bg) !important;
}
