#Ignore everything:
/*
!/.dart_tool/
!/.github/
!/assets/
/assets/*
!/assets/css/
/assets/css/*
!/assets/css/src/
!/assets/css/vendor/
!/assets/js/
/assets/js/*
!/assets/js/src/
!/assets/js/vendor/
!/assets/images/
/assets/images/prod/*
!/assets/svg/
!/assets/svg/*
!/assets/images/src/
!/assets/data/
!/assets/data/*
!/assets/fonts/
!/assets/fonts/*
!/assets/images/src/
!/languages/
!gulp/
!node/
!style.css
!/*.php
!/inc/
!/template-parts/
!/config/
/config/config.local.json
!/tests/
!/optional/
!/functions/

!.babelrc
!composer.json
!composer.lock
!CHANGELOG.md
!CONTRIBUTING.md
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!gulpfile.babel.js
!LICENSE
!package.json
!phpcs.xml.dist
!phpunit.integration.xml.dist
!phpunit.xml.dist
!README.md
!readme.txt
!screenshot.png
!.travis.yml
!.browserslistrc
!pubspec.yaml
!pubspec.lock

*.DS_Store

!compile-sass.dart
!gulpfile.js
!build-css.js
!build-js.js
