/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/
.nav--toggle-small .menu-toggle {
	display: block;
	margin: 0;
	padding: 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 80%;
	text-transform: uppercase;
	border: 2px solid var(--border-color-dark);
	border-radius: 0;
	background: transparent;

	&.icon {
		border: none;
		position: relative;
		top: 40px;
		display: none;

		@media (--narrow-menu-query) {
			display: block;
		}

		& .dashicons-menu-alt::before {
			font-size: 40px;
		}

		& svg.close {
			display: none;
		}
	}
}

.nav--toggle-small {
	& .menu {
		display: none;
	}

	&.nav--toggled-on {
		& .menu {
			display: block;
		}

		@media (--wide-menu-query) {
			& .menu {
				display: flex;
				justify-content: center;
			}
		}

		& .menu-toggle.icon svg.close {
			display: block;
		}

		& svg.open-menu {
			display: none;
		}
	}

	&.icon-nav {
		& .menu {
			display: block;
		}

		@media (--wide-menu-query) {
			& .menu {
				display: flex;
				justify-content: center;
			}
		}

		@media (--narrow-menu-query) {
			& .primary-menu-container {
				position: absolute;
				z-index: -5;
				background: #fff;
				width: 100vw;
				top: 300px;
				left: 0;
				height: 200%;
				padding: 1.6rem 2.4rem;
				opacity: 0;
				transition:
					opacity 0.3s ease,
					top 0.3s ease-out,
					visibility 0.1s ease 0.4s;
				visibility: hidden;
				overflow-y: scroll;
			}

			/* & .menu {
				visibility: visible;
			} */

			&.nav--toggled-on {
				& .menu-toggle span.dashicons::before {
					content: '\f158';
				}

				& .primary-menu-container {
					top: 180px;
					z-index: 5;
					opacity: 1;
					transition:
						opacity 0.3s ease,
						top 0.3s ease-out;
					visibility: visible;
				}

				/* & .menu {
					visibility: visible;
				} */
			}
		}
	}
}

.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle,
.wp-block-navigation__responsive-container.is-menu-open
	.wp-block-navigation__responsive-container-content
	.wp-block-navigation__submenu-icon {
	display: block;
	background: transparent;
	position: relative;
	right: 0;
	top: 50%;
	width: var(--dropdown-symbol-width);
	height: var(--dropdown-symbol-width);
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	transform: translateY(-50%);
	overflow: visible;
}

@media (--narrow-menu-query) {
	.nav--toggle-sub .dropdown,
	.nav--toggle-sub .dropdown-toggle,
	.wp-block-navigation__responsive-container.is-menu-open
		.wp-block-navigation__responsive-container-content
		.wp-block-navigation__submenu-icon {
		top: auto;
	}
}

.nav--toggle-sub .dropdown-symbol {
	display: block;
	background: transparent;
	position: absolute;
	right: 20%;
	/* top: 35%; */
	width: 60%;
	height: 60%;
	border: solid var(--border-color-dark);
	border-width: 0 2px 2px 0;
	transform: translateY(-50%) rotate(-45deg);
	transition: transform 0.2s;
}

.nav--toggle-sub
	li.menu-item--toggled-on
	> button.dropdown-toggle
	.dropdown-symbol {
	transform: translateY(-50%) rotate(45deg);
}

.nav--toggle-sub
	li.menu-item--toggled-on
	button.wp-block-navigation__submenu-icon
	svg {
	transition: transform 0.2s;
}

.nav--toggle-sub
	li.menu-item--toggled-on
	> button.wp-block-navigation-submenu__toggle
	svg {
	transform: rotate(180deg);
}

@media (--narrow-menu-query) {
	.nav--toggle-small.nav--toggled-on .menu {
		display: block;
	}
}

.nav--toggle-sub ul ul {
	background: var(--color-theme-bg-blue);
}

@media (--wide-menu-query) {
	.nav--toggle-small .menu-toggle {
		display: none;
	}

	.nav--toggle-small .menu {
		display: block;
	}

	.nav--toggle-sub ul ul {
		display: none;
		position: absolute;
		top: 100%;
		flex-direction: column;
		border-top: 1px solid var(--color-theme-border-gray);
		margin-left: 0;
		z-index: 100;
	}

	.nav--toggle-sub .dropdown,
	.nav--toggle-sub .dropdown-toggle {
		display: block;
		background: transparent;
		position: absolute;
		right: 0;
		top: 50%;
		width: var(--dropdown-symbol-width);
		height: var(--dropdown-symbol-width);
		font-size: inherit;
		line-height: inherit;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0;
		transform: translateY(-50%);
		overflow: visible;
	}

	.nav--toggle-sub .dropdown-symbol {
		display: block;
		background: transparent;
		position: absolute;
		right: 20%;
		top: 35%;
		width: 60%;
		height: 60%;
		border: solid var(--border-color-dark);
		border-width: 0 2px 2px 0;
		transform: translateY(-50%) rotate(45deg);
	}

	.nav--toggle-sub ul ul .dropdown,
	.nav--toggle-sub ul ul .dropdown-toggle {
		top: 40%;
		right: 0.2em;
	}

	.nav--toggle-sub ul ul .dropdown-symbol {
		transform: rotate(-45deg);
	}

	.nav--toggle-sub .dropdown-toggle:hover,
	.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-toggle {
		pointer-events: none;
	}

	/* Need menu-item-has-children for non-JS */
	.nav--toggle-sub li.menu-item-has-children,
	.nav--toggle-sub li.menu-item--has-toggle {
		position: relative;
		padding-right: var(--dropdown-symbol-width);
		cursor: pointer;
	}

	/*
	 * If the dropdown toggle is active with JS, then
	 * we'll take care of showing the submenu with JS.
	 */
	.nav--toggle-sub li:hover > ul,
	.nav--toggle-sub li.menu-item--toggled-on > ul,
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
		display: block;
	}

	/*
	 * "focus-within" is an alternative to focus class for
	 * supporting browsers (all but IE/Edge) for no-JS context
	 * (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
	 *
	 * This selector needs to stay separated, otherwise submenus
	 * will not be displayed with IE/Edge.
	 */
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
		display: block;
	}
}

.menu-item {
	& > a {
		transition: var(--animation-speed);
	}

	&.menu-item--toggled-on > a {
		color: var(--color-theme-orange);
		transition: var(--animation-speed);
	}
}
