/*--------------------------------------------------------------
# Hamburger menu
--------------------------------------------------------------*/

/**
 * The markup can be adjusted in customize_mobile_menu_toggle() function
 * at the /inc/Nav_Menus/Component.php file.
 */

.hamburger {
	transition-duration: 500ms;
}

.hamburger .meat {
	display: block;
	height: 4px;
	width: 30px;
	margin: 6px 0;
	background-color: #222;
	transition-duration: 300ms;
}

.icon-nav.nav--toggled-on .hamburger {
	transform: translateX(12px);
}

.icon-nav.nav--toggled-on .hamburger .meat:nth-child(1) {
	transform: rotate(45deg) translateY(14px);
}

.icon-nav.nav--toggled-on .hamburger .meat:nth-child(2) {
	opacity: 0;
}

.icon-nav.nav--toggled-on .hamburger .meat:nth-child(3) {
	transform: rotate(-45deg) translateY(-14px);
}
