/*----------------------------
# Links
----------------------------*/

/* stylelint-disable */
a {
	color: var(--color-link);
	text-decoration: none;
	transition: color var(--animation-speed);
}
/* stylelint-enable */

a:hover,
a:focus,
a:active {
	color: var(--color-link-active);
}

/**
 * Outline
 *
 * From accessability it's better to leave thin dotted
 * but it may negative impact on your design.
 */
a:focus {

	/* outline: thin dotted; */
	outline: none;
}

a:hover,
a:active {
	outline: 0;
}
