/**
 * Typography System
 *
 * This SCSS file establishes consistent and adaptable typographic styles for various screen sizes using structured maps and mixins.
 */

// Define typography styles combining font styles, weights, and custom typography
$typography-styles: (
	// Font Style Classes
	'typo--normal': (
			font-style: normal,
		),
	'typo--italic': (
		font-style: italic,
	),
	// Font Weight Classes
	'typo--light': (
			font-weight: 300,
		),
	'typo--regular': (
		font-weight: 400,
	),
	'typo--medium': (
		font-weight: 500,
	),
	'typo--semibold': (
		font-weight: 600,
	),
	'typo--bold': (
		font-weight: 700,
	),
	'typo--extra-bold': (
		font-weight: 800,
	),
	'typo--black': (
		font-weight: 900,
	),
	/**
	* Custom Typography Styles
	*
	* This part should be taken from your media kit, created by your designers
	* @link https://docs.wprig.org/design-structure/typography-styles
	*/
	// Styles for headings
	'typo--title': (
			font-size: 1.12rem,
			line-height: 1,
			letter-spacing: -1%,
		),
	'typo--h1': (
		font-size: 7.274rem,
		line-height: 1,
		letter-spacing: -1%,
	),
	'typo--h2': (
		font-size: 6.02rem,
		line-height: 1.3,
		letter-spacing: 0,
	),
	'typo--h3': (
		font-size: 5.216rem,
		line-height: 1.3,
		letter-spacing: 0,
	),
	'typo--h4': (
		font-size: 4.18rem,
		line-height: 1.3,
		letter-spacing: 0,
	),
	'typo--h5': (
		font-size: 3.484rem,
		line-height: 1.3,
		letter-spacing: 0,
	),
	'typo--h6': (
		font-size: 2.903rem,
		line-height: 1.3,
		letter-spacing: 0,
	),
	'typo--subtitle-1': (
		font-size: 2.419rem,
		line-height: 1.3,
		letter-spacing: 0,
	),
	'typo--subtitle-2': (
		font-size: 2.016rem,
		line-height: 1.3,
		letter-spacing: 0,
	),
	// Styles for regular text
	'typo--body-extra': (
			font-size: 2.016rem,
			line-height: 1.3,
		),
	'typo--body-big': (
		font-size: 1.68rem,
		line-height: 1.3,
	),
	'typo--body': (
		font-size: 1.4rem,
		line-height: 1.3,
	),
	// Styles for labels
	'typo--caption': (
			font-size: 1.2rem,
			line-height: 1.62,
			letter-spacing: 0.25px,
		),
	'typo--label': (
		font-size: 1.4rem,
		font-weight: 700,
		line-height: 16px,
	)
) !default;

// Define breakpoints for responsive design, ensuring typography scales well on different devices.
$breakpoints: (
	xs: 0,
	tablet: 769px,
	desktop: 1024px,
	widescreen: 1216px,
	fullhd: 1408px,
) !default;

// Mixin to generate base typography styles.
@mixin print-base-styles($styles) {
	@each $class, $style in $styles {
		.#{$class} {
			@each $property, $value in $style {
				#{$property}: $value !important;
			}
		}
	}
}

// Mixin to generate responsive typography styles with specific class suffixes.
@mixin print-responsive-styles($breakpoints, $styles) {
	@each $breakpoint-name, $breakpoint-value in $breakpoints {
		@if $breakpoint-value != 0 {
			@media (min-width: $breakpoint-value) {
				@each $class, $style in $styles {
					.#{$class}__#{$breakpoint-name} {
						@each $property, $value in $style {
							#{$property}: $value !important;
						}
					}
				}
			}
		}
	}
}

// Generate non-responsive and responsive typography styles.
@include print-base-styles($typography-styles);
@include print-responsive-styles($breakpoints, $typography-styles);
