/*----------------------------
# Utilities
*
* Place for various reusable classes
* @link https://docs.wprig.org/assets-optimization/css-utilities
----------------------------*/

/* Class for hiding elements from users but not from robots */
.visuallyhidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(0 0 99.9% 99.9%);
	clip-path: inset(0 0 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
}

/* Full screen width element even if it placed in container */
.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

@media (--mobile-query) {
	.full-width__mobile {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}
}

@media (--tablet-query) {
	.full-width__tablet {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}
}

@media (--desktop-query) {
	.full-width__desktop {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}
}

@media (--widescreen-query) {
	.full-width__widescreen {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}
}

@media (--fullhd-query) {
	.full-width__fullhd {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}
}

/* Sticky element */
.is-sticky {
	position: sticky;
	top: 0;
	height: fit-content;
}
